*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  min-height: 60px;
}

i {
  font-size: 15px;
}

.link {
  text-decoration: none;
}

.content,
.title-container,
.footer,
li {
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10vh;
  padding: 7.5%;
}

.container {
  width: 400px;
  box-shadow: 5px 5px 5px lightgrey;
  border: 1px solid #787878;
}

.title-container,
.input-task,
li,
.btn-clear {
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 10px 10px;
}

.title-container,
li {
  color: #a6a6a6;
}

.input-task {
  border: none;
}

.input-task:focus-within,
.check-description input:focus-within {
  outline: none;
}

.task-list {
  width: 100%;
  min-height: 400px;
}

.list-checkbox {
  margin-right: 5px;
}

.btn-clear {
  background-color: inherit;
  border: none;
  cursor: grabbing;
}

.element-border {
  border-bottom: 1px solid #c4c4c4;
}
